@model AppData.Entities.Models.NguoiDung

@{
    ViewData["Title"] = "ThongTinCaNhan";
    Layout = "~/Areas/KhachHang/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Font Awesome -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="~/css/layout/layout.css" rel="stylesheet" />
<style>
    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>
<div class="container rounded bg-white mt-5 mb-5" style="width: 900px; background: rgb(218, 218, 218);border: 1px solid #dee2e6;">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div id="linkanh">
                    <div>
                        <img id="image-preview" src="#" alt="Ảnh xem trước">
                    </div>
                </div>
                <input type="file" id="image-input" accept="image/*" onchange="previewImage(event)">
                <span class="text-black-50"></span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Thông tin </h4>
                    <h4 class="text-right" id="idnguoidung" style="display:none;"></h4>
                </div>
                <button id="DoiThongTin" onclick="HienThiThongTin(event);">Sửa thông tin</button>
                <button id="DoiMK" onclick="HienThiDoiMatKhau(event);">Đổi mật khẩu</button>
                <div class="row mt-3" id="thongtin">
                    <div class="col-md-12">
                        <label class="labels">Họ và tên: </label>
                        <input type="text" id="HoVaTen" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Ngày sinh: </label>
                        <input type="date" id="NgaySinh" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Số điện thoại: </label>
                        <input type="text" id="SDT" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email: </label>
                        <input type="text" id="Email" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Tỉnh/Thành phố:</label>
                        <input type="text" id="Tinh" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Quận/Huyện: </label>
                        <input type="text" id="Quan" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Phường/Xã: </label>
                        <input type="text" id="Phuong" class="form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Địa chỉ: </label>
                        <input type="text" id="DiaChi" class="form-control" value="">
                    </div>
                    <div class="mt-5 text-center" id="LuuThongTin"><button class="btn btn-primary profile-button" onclick="LuuThongTin();">Lưu</button></div>
                </div>
                <div class="row mt-3" id="doimk" style="display:none;">
                    <div class="col-md-12">
                        <label class="labels">Mật khẩu mới: </label>
                        <input type="password" id="password" class="form-control" value="">
                        <span style="color:red;" id="Checkpassword"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Xác nhận mật khẩu: </label>
                        <input type="password" id="Repassword" class="form-control" value="">
                        <span style="color:red;" id="CheckRepassword"></span>
                    </div>
                    <div class="mt-5 text-center" id="LuuMk"><button class="btn btn-primary profile-button" onclick="DoiMatKhau(event);">Lưu</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/nguoidung/qlnguoidung.js"></script>
<script>
    ThongTinCaNhan();
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imagePreview = document.getElementById('image-preview');
                imagePreview.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

