@{
    ViewData["Title"] = "Add Product";
}
<h1>@ViewData["Title"]</h1>

<div style="">
    <div class="row" >
        <div class="col-lg-8">
            <!-- Card -->
            <div class="card mb-3 mb-lg-5">
                <!-- Header -->
                <div class="card-header">
                    <h4 class="card-header-title">Product information</h4>
                </div>
                <!-- End Header -->
                <!-- Body -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="productNameLabel" class="input-label">Mã Sản Phẩm
                            <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top"></i>
                        </label>

                        <input type="text" class="form-control" name="productName" id="productNameLabel" placeholder="Shirt, t-shirts, etc." aria-label="Shirt, t-shirts, etc.">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group">
                        <label for="productNameLabel" class="input-label">Tên Sản Phẩm
                        <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" ></i></label>

                        <input type="text" class="form-control" name="productName" id="productNameLabel" placeholder="Shirt, t-shirts, etc." aria-label="Shirt, t-shirts, etc.">
                    </div>
                    <!-- End Form Group -->
                    <div id="attachFilesNewProjectLabel" class="js-dropzone dropzone-custom custom-file-boxed">
                         <label for="productNameLabel" class="input-label">Ảnh
                            <div class="" style=" border: 0.1rem dashed #e7eaf3; text-align:center; width: 868px" >
                                <img class="mb-3" src="" alt="Image Description">
                                <h5 class="mb-1">Choose files to upload</h5>
                                <p class="mb-2">or</p>
                                <span class="btn btn-sm btn-primary">Browse files</span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="SKULabel" class="input-label">Size</label>

                                <input type="text" class="form-control" name="Size" placeholder="eg. 348121032" aria-label="eg. 348121032">
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="SKULabel" class="input-label">Màu Sắc</label>

                                <input type="text" class="form-control" name="Màu Sắc" placeholder="eg. 348121032" aria-label="eg. 348121032">
                            </div>
                            <!-- End Form Group -->
                        </div>
                    </div>
                        <div class="row">

                                <div class="col-sm-6">
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <label for="SKULabel" class="input-label">Thương Hiệu</label>

                                        <input type="text" class="form-control" name="Thương Hiệu" placeholder="eg. 348121032" aria-label="eg. 348121032">
                                    </div>
                                    <!-- End Form Group -->
                                </div>
                                <div class="col-sm-6">
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <label for="SKULabel" class="input-label">Số lượng</label>

                                        <input type="text" class="form-control" name="Số lượng" placeholder="eg. 348121032" aria-label="eg. 348121032">
                                    </div>
                                    <!-- End Form Group -->
                                </div>
                        </div>
                           
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <label for="SKULabel" class="input-label">Giá Bán</label>

                                        <input type="text" class="form-control" name="Giá Bán" placeholder="eg. 348121032" aria-label="eg. 348121032">
                                    </div>
                                    <!-- End Form Group -->
                                </div>
                                <div class="col-sm-6">
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <label for="SKULabel" class="input-label">Trạng Thái</label>

                                        <input type="text" class="form-control" name="Trạng Thái" placeholder="eg. 348121032" aria-label="eg. 348121032">
                                    </div>
                                    <!-- End Form Group -->
                                </div>
                    <!-- End Row -->

                    
                </div>
                            <label class="input-label">Mô tả</label>
                    <div><textarea style="width: 868px; height: 200px"></textarea></div>
                <!-- Body -->
            </div>
            

        </div>

        
</div>
